@use "sass:color";
@use "mixins";
@use "variables";
@use "vendor/breakpoint/breakpoint";
@use "vendor/susy/susy/language/susy/gallery";
@use "vendor/susy/susy/language/susy/padding";
@use "vendor/susy/susy/language/susy/rows";
@use "vendor/susy/susy/language/susy/span";

/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint.breakpoint(variables.$medium) {
    @include span.span(12 of 12);
  }

  @include breakpoint.breakpoint(variables.$large) {
    @include span.span(10 of 12 last);
    @include padding.prefix(0.5 of 12);
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: variables.$type-size-5;
  color: color.mix(#fff, variables.$gray, 25%);
  border-bottom: 1px solid variables.$border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: variables.$sans-serif-narrow;

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: variables.$type-size-6;

  & + p {
    text-indent: 0;
  }
}

.archive__item-teaser {
  border-radius: variables.$border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: underline;
  }
}


/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint.breakpoint(variables.$medium) {
    padding-right: variables.$right-sidebar-width-narrow;
  }

  @include breakpoint.breakpoint(variables.$large) {
    padding-right: variables.$right-sidebar-width;
  }

  @include breakpoint.breakpoint(variables.$x-large) {
    padding-right: variables.$right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: variables.$type-size-5;
  }

  .archive__item-excerpt {
    display: none;
  }

  @include breakpoint.breakpoint(variables.$small) {
    @include gallery.gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint.breakpoint(variables.$medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery.gallery(2.5 of 10);

    .archive__item-teaser {
      max-height: 120px;
    }

    .archive__item-excerpt {
      display: block;
      font-size: variables.$type-size-6;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include mixins.clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid variables.$border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint.breakpoint(variables.$small) {
    margin-bottom: 0;
    @include gallery.gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include rows.full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint.breakpoint(variables.$small) {
      .archive__item-teaser {
        @include span.span(5 of 12);
      }

      .archive__item-body {
        @include span.span(7 of 12 last);
        @include padding.prefix(0.5 of 12);
        @include padding.suffix(1 of 12);
      }
    }
  }

  &--right {
    @include rows.full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint.breakpoint(variables.$small) {
      text-align: right;

      .archive__item-teaser {
        @include span.span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span.span(7 of 12 last rtl);
        @include padding.prefix(0.5 of 12);
        @include padding.suffix(1 of 12);
      }
    }
  }

  &--center {
    @include rows.full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint.breakpoint(variables.$small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span.span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span.span(7 of 12);
      }
    }
  }
}
