@use "sass:color";
@use "variables";

/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

@mixin button-base {
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: #fff !important;
  font-family: variables.$sans-serif;
  font-size: variables.$type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: variables.$primary-color;
  border: 0 !important;
  border-radius: variables.$border-radius;
  cursor: pointer;
}

.btn {
  /* default button */
  @include button-base;

  &:hover {
    background-color: color.mix(white, #000, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */

  &--inverse {
    color: variables.$gray !important;
    border: 1px solid variables.$light-gray !important; /* override*/
    background-color: #fff;

    &:hover {
      color: #fff !important;
      border-color: variables.$gray;
    }
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important; /* override*/
    background-color: transparent;
  }

  /* information */

  &--info {
    background-color: variables.$info-color;

    &:hover {
      background-color: color.mix(#000, variables.$info-color, 20%);
    }
  }

  /* warning */

  &--warning {
    background-color: variables.$warning-color;

    &:hover {
      background-color: color.mix(#000, variables.$warning-color, 20%);
    }
  }

  /* success */

  &--success {
    background-color: variables.$success-color;

    &:hover {
      background-color: color.mix(#000, variables.$success-color, 20%);
    }
  }

  /* danger */

  &--danger {
    background-color: variables.$danger-color;

    &:hover {
      background-color: color.mix(#000, variables.$danger-color, 20%);
    }
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social:
  (facebook, variables.$facebook-color),
  (twitter, variables.$twitter-color),
  (google-plus, variables.$google-plus-color),
  (linkedin, variables.$linkedin-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: color.mix(#000, $color, 20%);
      }
    }
  }

  /* extra large button */

  &--x-large {
    font-size: variables.$type-size-4;
  }

  /* large button */

  &--large {
    font-size: variables.$type-size-5;
  }

  /* small button */

  &--small {
    font-size: variables.$type-size-7;
  }
}
